/* ========== G E N E R A L ========== */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Grande", Arial, sans-serif;
    text-decoration: none;
}

body {
    background-image: url("img/background.png");
    background-color: #f2f2f2;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

p.header {
    padding: 10px 15px;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 20px;
    color: #c0c0c0;
    text-shadow: 0px 0px 1px #eee;
}

p.message {
    position: absolute;
    display: inline-block;
    top: 50px;
    left: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #ef2929;
}

div.leaflet {
    background-color: #fff;
    display: inline-block;
    padding: 3px 0px;
    margin: 40px 0px 20px 0px;
    box-shadow: 3px 0px 6px #ddd;
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
}

div.leaflet * {
    text-shadow: none;
}

a {
    color: #b0b0b0;
}

/* ========== M E N U ========== */

nav.menu {
    position: absolute;
}

nav.menu a.item {
    display: inline-block;
    color: #c0c0c0;
}

nav.menu a.item.highlighted {
    background-color: #e5e5e5;
    color: #fff;
}

nav#welcomeMenu {
    left: 55%;
    top: 300px;
}

nav#welcomeMenu a.item {
    padding: 10px 20px;
    font-size: 60px;
}

nav#welcomeMenu a.item.highlighted {
    border-radius: 15px;
}

nav#regularMenu {
    right: 50px;
    top: 10px;
    z-index: 1;
}

nav#regularMenu a.item {
    padding: 6px 10px 5px 10px;
    font-size: 17px;
    text-shadow: 1px 1px 1px #fff;
}

nav#regularMenu a.item.highlighted {
    border-radius: 5px;
    text-shadow: none;
}

/* ========== W E L C O M E ========== */

p#banner {
    display: none;
    position: absolute;
    left: 15%;
    font-size: 300px;
    color: #eee;
    cursor: default;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* ========== N A V I G A T O R ========== */

a#navigatorSwitcher {
    background-image: url("img/panelSwitcher.png");
    background-color: #c0c0c0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 64%;
    width: 50px;
    height: 50px;
    display: none;
    position: absolute;
    left: 40px;
    top: 70px;
    z-index: 2;
    box-shadow: 0px 0px 1px #eee;
    border-radius: 25px;
}

a#navigatorSwitcher:hover {
    background-color: #b0b0b0;
}

nav#navigator {
    width: 200px;
    opacity: 0;
    padding-top: 63px;
    position: absolute;
    left: -130px;
    top: 0px;
    z-index: 1;
}

nav#navigator p.header {
    margin-bottom: 25px;
}

nav#navigator a.item {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    text-shadow: 1px 1px 0px #eee;
}

nav#navigator a.item:hover {
    text-shadow: none;
}

nav#navigator a.item.category {
    color: #bbb;
}

nav#navigator a.item.category:hover {
    color: #fff;
}

nav#navigator p.category {
    border-bottom: 2px dashed #bbb;
    margin: 6px 0px;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
}

/* ========== C O N T A I N E R ========== */

.container {
    display: none;
    margin: 0px auto;
}

.container div.item {
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.container div.item span.no {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 41px;
    color: #fff;
}

.container div.item p.title {
    background-color: rgba(187, 187, 187, .05);
    padding: 7px 20px 6px 60px;
    font-family: "Oranienbaum", "Lucida Sans Unicode";
    font-size: 20px;
    color: #a3a3a3;
    text-shadow: 2px 2px 1px #e9e9e9;
    cursor: pointer;
}

.container div.item p.title.hover {
    color: #fff;
    text-shadow: none;
}

.container div.item p.title.selected {
    font-weight: bold;
}

.container div.item p.description {
    display: none;
    padding: 9px 0px 9px 60px;
    font-family: "Lucida Sans Unicode";
    font-size: 18px;
    color: #b0b0b0;
    overflow: auto;
}

.container div.item p.description img {
    max-width: 50%;
    max-height: 200px;
    margin: 0px 10px 0px 0px;
    float: left;
}

.container div.item p.description a {
    font-family: "Lucida Sans Unicode";
    color: #707070;
}

div#rssItems {
    width: 65%;
    padding-top: 63px;
    position: absolute;
    z-index: 0;
}

div#rssItems p.header {
    display: inline-block;
    float: left;
    box-shadow: none;
}

div#rssItems input {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #e9e9e9;
    width: 300px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding: 1px 10px;
    font-family: "Roboto Slab";
    font-size: 17px;
    font-style: italic;
    color: #c0c0c0;
    outline: none;
}

div#rssItems input#add {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #e9e9e9;
    width: 300px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding: 1px 10px;
    font-family: "Roboto Slab";
    font-size: 17px;
    font-style: italic;
    color: #c0c0c0;
    outline: none;
}

div#rssItems input#add.focus {
    color: #999;
    font-style: normal;
}

div#rssItems input#search {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #e9e9e9;
    width: 200px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding: 1px 10px;
    font-family: "Roboto Slab";
    font-size: 17px;
    font-style: italic;
    color: #c0c0c0;
    outline: none;
}

div#rssItems input#search.focus {
    color: #999;
    font-style: normal;
}

div#rssItems input#id_text {
    float: left;
}

div#rssItems a.toggled {
    display: inline-block;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    padding: 2px 4px;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    border-radius: 3px;
    background-color: rgba(190, 227, 1, 0.5);
}



div#rssItems a#sort {
    background-color: #ddd;
    display: inline-block;
    float: left;
    margin-top: 14px;
    padding: 2px 4px;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    border-radius: 3px;
}

div#rssItems a#sort.ascending {
    background-color: rgba(190, 227, 1, 0.5);
}

div#rssItems a#sort.descending {
    background-color: rgba(31, 187, 254, 0.5);
}

div#rssItems div.item {
    clear: both;
}

div#profile {
    width: 65%;
    padding-top: 63px;
    position: absolute;
    float: left;
    z-index: 0;
}

div#profile p.header {
    display: inline-block;
    float: left;
    box-shadow: none;
    font-size: 30px;
}

div#profile p.description {
    display: inline-block;
    float: left;
    box-shadow: none;
}

/* ========== F O R M ========== */

div.form {
    width: 340px;
}

div.form input, div.form textarea {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #e9e9e9;
    width: 300px;
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px 20px;
    font-size: 18px;
    font-style: italic;
    color: #d5d5d5;
    outline: none;
}

div.form input[type='submit'],  /* django form submit button */
div.form button.submit,
div.form a.submit {
    background-color: #e5e5e5;
    border: 0px;
    display: inline-block;
    padding: 5px 10px;
    float: right;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}

div.form button.submit.disabled,
div#signInForm a.submit.disabled,
div#editProfileForm a.submit.disabled {
    background-color: #e5e5e5 !important;
}

form input.checkbox {
    width: auto !important;
}

div.form a.back {
    background-color: transparent;
    color: #888;
}

div.form input {
    font-size: 18px;
}

div.form input.focus {
    color: #888;
    font-style: normal;
}

div.form p {
    color: #bbb;
}
div.form p.header {
    color: #bbb;
}

div#signInForm {
    position: absolute;
}

div.form button.submit,
div#signInForm a.submit,
div#editProfileForm a.submit {
    padding: 6px 13px;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
}

div#editProfileForm {
    width: 400px;
    position: absolute;
    top: 100px;
}

div#editProfileForm input {
    width: 360px;
}

div#editProfileForm input#avatar {
    font-size: 15px;
}

form label {
    width: 200px;
    margin: 5px 20px;
    font-size: 18px;
    color: #c0c0c0;
}

form span.helptext {
    font-size: 16px;
    color: #c0c0c0;
}

/* ========== M I S S I O N   P A G E ========== */

div#mission, div#news-preview {
    width: 65%;
    padding-top: 63px;
    position: absolute;
    z-index: 0;
}

div#mission img {
    width: 100%;
}

div#news-preview {
    width: 100%;
    padding: 0px;
    top: 63px;
}

div#news-preview object {
    border-top: 5px solid #ddd;
    width: 100%;
    overflow: hidden;
}

/* ========== F O O T E R ========== */

footer {
    position: fixed;
    right: 40px;
    bottom: 30px;
}

footer a {
    background-color: #ddd;
    display: inline-block;
    margin-right: 3px;
    padding: 2px 4px;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    border-radius: 3px;
}


/* =========== L I S T    D I S P L A Y =============== */

#rssItems .love_it_button img {
    float:right;
    position: relative;
    right:-10px;

}

.scrollable #loading-animation {
    position: absolute;
}
