/* ========== G E N E R A L ========== */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Grande", Arial, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

p.header {
    margin-top: 36px;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: bold;
    color: #e5e5e5;
}

/* ========== M E N U ========== */

nav#menu {
    position: absolute;
    left: 55%;
    top: 300px;
}

nav#menu a.item {
    display: inline-block;
    padding: 10px 20px;
    font-size: 60px;
    color: #888;
}

nav#menu a.item.highlighted {
    background-color: #e5e5e5;
    color: #fff;
    border-radius: 15px;
}

/* ========== F O R M ========== */

div.form {
    width: 340px;
}

div.form input {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #eee;
    width: 300px;
    display: inline-block;
    margin-bottom: 25px;
    padding: 5px 20px;
    font-size: 20px;
    font-style: italic;
    color: #d1d1d1;
    outline: none;
}

div.form a.submit {
    background-color: #e5e5e5;
    border: 0px;
    display: block;
    float: right;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}

div#signInForm {
    position: absolute;
}

div.form input {
    font-size: 40px;
}

div.form input.focus {
    color: #888;
    font-style: normal;
}

div#signInForm a.submit, div#editProfileForm a.submit {
    padding: 6px 13px;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
}

div#editProfileForm {
    width: 400px;
    position: absolute;
    font-size: 20px;
    font-style: italic;
    color: #bbb;
}

div#editProfileForm input {
    width: 360px;
}

div#editProfileForm input#avatar {
    font-size: 15px;
}

/* ========== B A C K G R O U N D ========== */

p#bigBanner {
    display: inline-block;
    position: absolute;
    left: 15%;
    font-size: 300px;
    color: #f1f1f1;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ========== N A V I G A T O R ========== */

a#navigatorSwitcher {
    background-image: url("img/panelSwitcher.png");
    background-color: #e5e5e5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 64%;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 2;
    border-radius: 25px;
}

a#navigatorSwitcher:hover {
    background-color: #ccc;
}

nav#navigator {
    background-color: #fff;
    width: 200px;
    opacity: 0;
    position: absolute;
    left: -130px;
    top: 0px;
    z-index: 1;
}

nav#navigator div.container {
    margin-top: 25px;
}

nav#navigator a.item {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
}

nav#navigator a.item.category {
    color: #c5c5c5;
}

nav#navigator a.item.category:hover {
    color: #fff;
}

nav#navigator p.category {
    border-bottom: 2px dashed #bbb;
    margin: 6px 0px;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
}

/* ========== C O N T E N T ========== */

div.content {
    width: 65%;
    margin: 0px auto;
    z-index: 0;
}

div.content div.item {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    position: relative;
}

div.content div.item span.no {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 41px;
    color: #fff;
}

div.content div.item p.title {
    -font-family: "Lucida Sans Unicode";
    padding: 7px 0px 6px 60px;
    font-size: 21px;
    color: #aaa;
    cursor: pointer;
}

div.content div.item p.title:hover {
    color: #fff;
}

div.content div.item p.description {
    background-color: #fff;
    display: none;
    padding: 3px 0px 6px 60px;
    font-family: Georgia;
    font-size: 18px;
    color: #ccc;
    overflow: auto;
}

div.content div.item p.description img {
    max-width: 50%;
    max-height: 200px;
    margin: 0px 10px 10px 0px;
    float: left;
}
