<div id="editProfileForm" class="container form" data-center_v="true" data-transit="true">
    <p class="header">CHANGE PASSWORD</p>
    <input id="currentPassword" type="text" value="current password" 
        data-value="current password" data-type="password">
    <input id="newPassword" type="text" value="new password" 
        data-value="new password" data-type="password">
    <input id="retypedPassword" type="text" value="retype password" 
        data-value="retype password" data-type="password">
    <a class="submit" href="javascript:main.editProfile()">submit</a>
</div>
