{
"run_script":"lionfish_run.sh",
"terminate_script":"lionfish_terminate.sh",
"test_script":"lionfish_test.p",



"unary": true,



"default_service_params":{
    "port":7777,
    "host":"$node:host"
},

"arguments":[
    ["port"],
    ["neo4j_port", "$neo4j:port"],
    ["neo4j_host", "$neo4j:host"]
]


,

"depends":["neo4j"]




}
