{
"run_script":"lionfish_scala_run.sh",
"terminate_script":"lionfish_scala_terminate.sh",
"test_script":"lionfish_scala_test.sh",



"unary": true,



"default_service_params":{
    "port":7777,
    "host":"$node:host",
    "neo4j-console-port":7474,
    "neo4j-path":"/var/lib/neo4j/data/graph.db"
},

"arguments":[
    ["port"],["neo4j-console-port"], ["neo4j-path"]
]


,


"adds": [
 ["neo4j",
    {"port":"$lionfish_scala:neo4j-console-port",
    "host":"$lionfish_scala:host"}
 ],
 ["lionfish",
    {"port":"$lionfish_scala:port",
    "host":"$lionfish_scala:host"}
 ]
]


}
