{
"run_script":"lionfish_run.sh",
"terminate_script":"lionfish_terminate.sh",
"test_script":"lionfish_test.sh",



"unary": true,



"default_service_configs":{
    "port":7777,
    "neo4j_port":7478,
    "graph_db_root":"/var/lib/neo4j/data/graph.db",
    "host":"$node:host"
},

"arguments":[
    ["port"],
    ["neo4j_port"],
    ["graph_db_root"]
]


,


adds = [
 ["neo4j",
    {"port":"$lionfish_scala:neo4j_port",
    "host":"$lionfish_scala:host"}
 ],
 ["lionfish",
    {"port":"$lionfish_scala:port",
    "host":"$lionfish_scala:host"}
 ]
]


}
