{
"run_script":"logstash_run.py",
"terminate_script":"l0gstash_terminate.sh",
"test_script":"l0gstash_test.sh",



"unary": true,



"default_service_params":{
    "elasticsearch_port":9200,
    "elasticsearch_host":"$node:host",
    "webconsole_port":9292,
    "webconsole_host":"$node:host"
}

,

"depends":["rabbitmq"]

}
