{
"run_script":"mantis_shrimp_run.sh",
"terminate_script":"mantis_shrimp_terminate.sh",
"test_script":"mantis_shrimp_test.sh",



"unary": true,



"default_service_params":{
    "port_master":9192,
    "port":9192
    "host":"$node:host",
    "host_master":"$node:host",
    "actor_system_name":"MantisShrimp",
    "logging_strategy":"stderr",
    "lionfish_host":"$lionfish:host",
    "lionfish_port":"$lionfish:port"
},

"arguments":[
    ["port"],["port_master"], ["host"],
    ["host_master"], ["actor_system_name"],
    ["logging_strategy"], ["lionfish_host"], ["lionfish_port"]
]


,


"depends":["lionfish"]


}
