{
"run_script":"mantis_shrimp_run.sh",
"terminate_script":"mantis_shrimp_terminate.sh",
"test_script":"mantis_shrimp_test.sh",



"unary": true,



"default_service_params":{
    "port_master":"$mantis_shrimp_master:port",
    "port":9194,
    "host":"$node:host",
    "host_master":"$mantis_shrimp_master:host",
    "actor_system_name":"MantisShrimp",
    "logging_strategy":"stderr",
    "lionfish_host":"localhost",
    "lionfish_port":7777,
    "local":true
},

"arguments":[
    ["port"],["port_master"], ["host"],
    ["host_master"], ["actor_system_name"],
    ["logging_strategy"], ["lionfish_host"], ["lionfish_port"], ["config_path"]
]


,


"depends":["mantis_shrimp_master"]


}
