{
"run_script":"spidercrab_slave_run.sh",
"terminate_script":"spidercrab_slave_terminate.sh",
"test_script":"spidercrab_slave_test.sh",



"unary": false,


"default_service_configs":{
    "number":1
},


"arguments":[
    ["number"],
    ["export-cs-to"],
    ["export_stats_to"]
]

,

"depends":["lionfish", "spidercrab_master"]
}