{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ocean</title>
<link type="text/css" rel="stylesheet" href="{% static 'base/general.css' %}" />
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'base/crypto-min.js' %}"></script>
<script src="{% static 'base/crypto-sha256.js' %}"></script>
<script src="{% static 'base/main.js' %}"></script>
<script src="{% static 'base/visualization.js' %}"></script>
<script src="{% static 'base/ajax.js' %}"></script>
</head>
<body>
    {% block navigator %} {% endblock %}

    <p id="bigBanner">Ocean</p>

    {% if not user.is_authenticated %}
    <nav id="menu">
        <a id="signUp" class="item" href="javascript:void(0)">register</a>
        <a id="signIn" class="item highlighted" href="javascript:main.showSignInForm()">sign in</a>
    </nav>

    {% else %}
    <!-- TODO: move menu to the header as in the preview -->
    <nav id="menu">
        <a id="myProfile" class="item" href="javascript:main.showEditProfileForm()">account</a>
        <a id="myOcean" class="item highlighted" href="javascript:main.showMyOcean()">my ocean</a>
    </nav>

    {% endif %}
    <div class="content">
        {% block content_items %} {% endblock %}
    </div>
</body>
</html>
