{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ocean</title>
<link type="text/css" rel="stylesheet" href="{% static 'base/general.css' %}" />
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'base/main.js' %}"></script>
</head>
<body>
    <!-- <img id="logo" src="img/logo.png"/> -->

    {% block navigator %} {% endblock %}

    {% if not logged_in %}
        <p id="bigBanner">Ocean</p>
        <!-- <img id="signInArrow" src="{% static 'base/img/signInArrow.png' %}"> -->
        <nav id="menu">
           <a class="item" href="#">register</a>
           <a class="item highlighted" href="#">sign in</a>
           <div id="signInForm" style="display: none">
               <input id="username" type="text"/>
               <input id="password" type="password"/>
           </div>
        </nav>
    {% endif %}

    <div id="content">
        {% block content_items %} {% endblock %}
    </div>
</body>
</html>
