{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ocean</title>
<link type="text/css" rel="stylesheet" href="{% static 'base/general.css' %}" />
<link type="text/css" rel="stylesheet" href="http://qtip2.com/v/2.2.0/jquery.qtip.min.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=latin,latin-ext" type="text/css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,latin-ext" type="text/css">
<script src="{% static 'base/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'base/crypto-min.js' %}"></script>
<script src="{% static 'base/crypto-sha256.js' %}"></script>
<script src="{% static 'base/main.js' %}"></script>
<script src="{% static 'base/utils.js' %}"></script>
<script src="{% static 'base/visualization.js' %}"></script>
<script src="{% static 'base/ajax.js' %}"></script>
<script src="http://qtip2.com/v/2.2.0/jquery.qtip.min.js"></script>
</head>
<body>
    {% if not user.is_authenticated %}
    <nav id="regularMenu" class="menu container">
        <a id="signUp" class="item" href="javascript:void(0)">register</a>
        <a id="signIn" class="item highlighted" href="javascript:main.load('sign_in')">sign in</a>
    </nav>
    {% else %}
    <nav id="regularMenu" class="menu container">
        <a id="myProfile" class="item" href="javascript:main.load('user/?n={{ user.username }}')">&#x265E; profile</a>
        <a id="inbox" class="item" href="javascript:main.load('account/inbox')">&#x2709; inbox</a>
        <a id="myOcean" class="item highlighted" href="javascript:main.load('rss')">&#x2693; my ocean</a>
        <a id="discover" class="item" href="javascript:main.load('rss/trending_news')">&#x2739; discover</a>
        <a id="manageRSS" class="item" href="javascript:main.load('rss/manage')">&#x2730; channels</a>
        <a id="accountSettings" class="item" href="javascript:main.load('edit_profile')">&#x2699; account</a>
        <a id="signOut" class="item" href="javascript:main.signOut()">sign out &#x27B2;</a>
    </nav>
    {% endif %}

    {% block body %} {% endblock %}
</body>
</html>
