{% extends 'base/base.html' %}
{% block body %}

<div id="signInForm" class="container form" data-center_h="true" data-center_v="true">
    <input id="username" type="text" value="username" data-value="username"> <br>
    <input id="password" type="text" value="password" data-value="password" data-type="password">
    <a class="submit" href="javascript:main.signIn()">sign in</a>
    <!--<a class="back" href="javascript:void(0)">back</a>-->
</div>

<script type="text/javascript">
    if (typeof contentToLoad === 'undefined') {
        contentToLoad = [];
    }
    contentToLoad.push($("#signInForm"));
</script>

{% endblock %}
