{% extends 'base/base.html' %}
{% block body %}

<p id="banner">Ocean</p>

{% if not user.is_authenticated %}
<nav id="welcomeMenu" class="menu container">
    <a id="signUp" class="item" href="javascript:void(0)">register</a>
    <a id="signIn" class="item highlighted" href="javascript:main.load('ajax/sign_in')">sign in</a>
</nav>
{% else %}
<nav id="welcomeMenu" class="menu container">
    <a id="myProfile" class="item" href="javascript:main.load('ajax/edit_profile')">account</a>
    <a id="myOcean" class="item highlighted" href="javascript:main.load('ajax/rss')">my ocean</a>
</nav>
{% endif %}

<script type="text/javascript">
    if (typeof contentToLoad === 'undefined') {
        contentToLoad = [];
    }
    contentToLoad.push($("#banner"));
    contentToLoad.push($("#welcomeMenu"));
</script>

{% endblock %}
