      <div id="alert_template" class="col-sm-6 col-md-6">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                ×</button>
            <span class="glyphicon glyphicon-info-sign"></span> <strong>Info Message</strong>
            <hr class="message-inner-separator"/>
            <p>
                <table class="table table-striped" id="json_container">
                        <thead>
                            <tr>

							</tr>
                         </thead>
                        <tbody>
                        </tbody>
                </table>
            </p>
        </div>
    </div>
