{
"master":"http://ocean-don.no-ip.biz",
"master_local_url":"http://127.0.0.1:8881",
"master_local":false,
"public_ssh_domain":"ocean-db.no-ip.biz",
"node_responsibilities":[
    ["neo4j",{"port":32, "host":"192.168.0.15", "local":false}]
],
"node_id":"staszek",
"home":"/home/moje/Projekty/ocean/ocean",
"ssh-user":"staszek",
"ssh-port":2215
}
