{% extends 'base/index.html' %}
{% block body %}

{% block navigator %}
    {% include "base/navigator.html" %}
{% endblock %}

<div id="rssItems" class="container" data-center_h="true" data-transit="true">
    <div id="header">
        <p class="header">CHANNELS</p>
        <a id="sort" href="javascript:toggleItemsOrder()">unsorted</a>
        <input id="search" type="text" value="search in titles" data-value="search in titles">
        <form action="javascript:addChannel()">
        <input id="add" type="text" value="+ subscribe new channel" data-value="+ subscribe new channel">
        </form>
    </div>
    {% for item in rss_channels %}
    <div class="item" title="{{ items.category }}">
        <span class="no"></span>
        <p class="title" data-color="{{ item.color }}">{{ item.title }}</p>
        <p class="description">
            {{ item.description|safe }}
            <a href={{ item.link }}> {{ item.link }} </a> |
            <a href="javascript:main.load('rss/delete_channel?link={{ item.link }}')" > delete </a>
        </p>
    </div>
    {% endfor %}
</div>

<footer>
    <a href="javascript:main.load('mission')">our mission</a>
</footer>

<script type="text/javascript">

    //$("div#rssItems input#add")
    //    .off("keyup")
    //    .on("keyup", function (e) {
    var addChannel = function() {
            var channel_url = $("div#rssItems input#add").val();
            if (channel_url != $("div#rssItems input#add").data("value")) {
                var query = "rss/add_channel?link=";
                query = query + channel_url;
                main.load(query);
            }
        };

    var itemsOrder = "unsorted";
    var toggleItemsOrder = function() {
        if (itemsOrder == "unsorted" || itemsOrder == "descending") {
            itemsOrder = "ascending"
        } else {
            itemsOrder = "descending"
        }

        main.sort($("#rssItems"), $("#rssItems div.item"), itemsOrder);
        $("div#rssItems a#sort")
                .removeClass("ascending descending")
                .addClass(itemsOrder)
                .text(itemsOrder);
    };

    $("div#rssItems input#search")
        .off("keyup")
        .on("keyup", function (e) {
            var pattern = $(this).val();
            if (pattern != $(this).data("value")) {
                main.searchInTitles(pattern);
            }
        });
</script>


{% endblock %}
