{% extends 'base/index.html' %}
{% load static %}
{% get_static_prefix as STATIC_URL %}
{% block body %}

{% block navigator %}
    {% include "base/navigator.html" %}
{% endblock %}

<div id="rssItems" class="container" data-center_h="true" data-transit="true">
    <p class="header">TOP STORIES</p>
    <a id="sort" href="javascript:toggleItemsOrder()">unsorted</a>
    <input id="search" type="text" value="search in titles" data-value="search in titles">
    {% for item in rss_items %}
    <div class="item" title="{{ items.category }}" news_pk="{{ item.pk }}">
        <span class="no"></span>
        <p class="title"  data-color="{{ item.color }}">{{ item.title }}
            <span style="float:right" class="loved_counter" >{{ item.loved_counter }}</span>
            <span style="float:right">+</span>
        </p>
        <p class="description">
            {{ item.description|safe }}
            {{ item.loved }}
            <a class ="love_it_button" href="lol" news_pk="{{ item.pk }}" >
                {% ifequal item.loved 0 %}
                <img class="love_it_image" news_pk="{{ item.pk }}" src="{% static 'base/img/heart.png' %}" title="You love it man" >
                {% endifequal %}
                {% ifnotequal item.loved 0 %}
                <img class="love_it_image" news_pk="{{ item.pk }}" src="{% static 'base/img/grayheart.png' %}" title="You definitely don't" >
                {% endifnotequal %}
            </a>
        </p>

    </div>
    {% endfor %}
</div>

<footer>
    <a href="javascript:main.load('mission')">our mission</a>
</footer>

<script type="text/javascript">


    //Note: just prototyped..
    $(".love_it_image").qtip(
        {
        show: {
            delay: 1000
        },
        content: function(){
            var data = {
                'pk' : $(this).attr("news_pk")
            };

            list = []

            ajax.request("rss/get_loved_it_list", "GET", data, function(response) {
                list=JSON.parse(response);
                console.log(list);
             });

            if(list.length==0) return "Love it button";
             return list;
        }}
    );
    $("#rssItems .love_it_button").click(function(e){
            var data = {
                'pk' : $(this).attr("news_pk")
            };
            news_item = $("#rssItems .item[news_pk="+data.pk+"]")
            love_it_button = news_item.find(".love_it_button")

            heart = "{% static 'base/img/heart.png' %}"
            grayheart = "{% static 'base/img/grayheart.png' %}"

            current_state = love_it_button.children("img").attr("src")
            console.log(current_state)

            if(current_state == heart){
                ajax.request("rss/loved_it", "GET", data, function(response) {
                    value = parseInt(news_item.find(".loved_counter").text())
                    news_item.find(".loved_counter").text(value + 1)
                    news_item.find(".love_it_image").attr("src", grayheart);
                });

            }else{

                ajax.request("rss/unloved_it", "GET", data, function(response) {
                    value = parseInt(news_item.find(".loved_counter").text())
                    news_item.find(".loved_counter").text(value - 1)
                    news_item.find(".love_it_image").attr("src", heart);
                });


            }

            e.preventDefault();
    });



    var itemsOrder = "unsorted";
    var toggleItemsOrder = function() {
        if (itemsOrder == "unsorted" || itemsOrder == "descending") {
            itemsOrder = "ascending"
        } else {
            itemsOrder = "descending"
        }

        main.sort($("#rssItems"), $("#rssItems div.item"), itemsOrder);
        $("div#rssItems a#sort")
                .removeClass("ascending descending")
                .addClass(itemsOrder)
                .text(itemsOrder);
    };

    $("div#rssItems input#search")
        .off("keyup")
        .on("keyup", function (e) {
            var pattern = $(this).val();
            if (pattern != $(this).data("value")) {
                main.searchInTitles(pattern);
            }
        });

</script>

{% endblock %}
