{% extends 'base/index.html' %}
{% load static %}
{% get_static_prefix as STATIC_URL %}
{% block body %}

{% block navigator %}
    {% include "base/navigator.html" %}
{% endblock %}

<div id="rssItems" class="container" data-center_h="true" data-transit="true">

    <div id="header">
    <p class="header">{{ title }}</p>
    {% ifequal sortable 1 %}
    <a id="sort" href="javascript:toggleItemsOrder()">unsorted</a>
    {% endifequal %}
     </div>
    <input id="search" type="text" value="search in titles" data-value="search in titles">

    {% include 'rss/list_display_renderer.html' %}
</div>

<footer>
    <a href="javascript:main.load('mission')">our mission</a>
</footer>

<script type="text/javascript">


    //ListDisplay variables
    descriptor = {{ descriptor|safe }}
    options = {{ options|safe }} //array of arrays. For now only 2-optional are possible
    page_size = 20
    state = {"descriptor": descriptor, "options": options, "page": 0, "page_size": 20, "graph_view": {{ graph_view|safe }}}
    state["likeable"] = {{ likeable|safe }}
    state["sortable"] = {{ sortable|safe }}

    //TODO: shouldnt be public
    heart = "{% static 'base/img/heart.png' %}"
    grayheart = "{% static 'base/img/grayheart.png' %}"


    //TODO: Czemu to jest tutaj? Przeciez nie kazda strona jest scrollowalna w ten sposob jak ListDisplay ;p
    $(window).scroll(function() {
        buffer = 40 // # of pixels from bottom of scroll to fire your function. Minimum 40 (should work for 0
        if ($("#rssItems").prop('scrollHeight') - $(window).scrollTop() <= $(window).height() + buffer) {
            state["page"] += 1;
            update_display();
        }
    });




    //Sends current state to main view (TODO: replace this with calling OceanMaster..)
    var update_display = function(){
        data={
        'state':JSON.stringify(state)
        };
        rendered_news = main.fetch_from_server("rss/get_news", data);
        $(rendered_news).appendTo("#rssItems");
        visualization.updateEventHandlers();
    }



    var rewrite_display = function(){
        data={
        'state':JSON.stringify(state)
        };
        rendered_news = main.fetch_from_server("rss/get_news", data);
        $("#rssItems .item").remove();
        $(rendered_news).appendTo("#rssItems");
        visualization.updateEventHandlers();
    }




    var option_click = function(e){
        var id = parseInt($(this).attr("id"))
        options[id]["state"] = (options[id]["state"]+1)%options[id]["list"].length;
        $(this).text(options[id]["list"][options[id]["state"]]);
        window[options[id]["action"]]() //hack .. not sure if the best way
        //$(this).css({"background-color":"#"+utils.getRandomColor()});
        e.preventDefault();
    }
    for (var i=0;i < options.length; i++){
        //assume each has length 2
        var option_div = $(
        "<a id='"+i+"' class='toggled' href='#'>"+options[i]["list"][0]+"</a>"
        );

        option_div.appendTo("#rssItems #header").click(option_click);
        options[i]["state"]=0;
    }









    var itemsOrder = "unsorted";
    var toggleItemsOrder = function() {
        if (itemsOrder == "unsorted" || itemsOrder == "descending") {
            itemsOrder = "ascending"
        } else {
            itemsOrder = "descending"
        }

        main.sort($("#rssItems"), $("#rssItems div.item"), itemsOrder);
        $("div#rssItems a#sort")
                .removeClass("ascending descending")
                .addClass(itemsOrder)
                .text(itemsOrder);
    };

    $("div#rssItems input#search")
        .off("keyup")
        .on("keyup", function (e) {
            var pattern = $(this).val();
            if (pattern != $(this).data("value")) {
                main.searchInTitles(pattern);
            }
        });





$(document).on("ready", function() {
    //update_display();

});
</script>

{% endblock %}
