{% extends 'base/base.html' %}
{% block body %}

{% block navigator %}
    {% include "base/navigator.html" %}
{% endblock %}

<div id="rssItems" class="container" data-center_h="true">
    <p class="header">TOP STORIES</p>
    {% for item in rss_items %}
    <div class="item" title="{{ items.category }}">
        <span class="no"></span>
        <p class="title" data-color="{{ item.color }}">{{ item.title }}</p>
        <p class="description">
            {{ item.description }}
        </p>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    if (typeof contentToLoad === 'undefined') {
        contentToLoad = [];
    }
    contentToLoad.push($("#navigatorSwitcher"));
    contentToLoad.push($("#rssItems"));
</script>

{% endblock %}
